:root {
    --main-color: floralwhite;
    --header-color: #9b5de5;
    --article-container-color: #f15bb5;
    --article-color: #fee440;
    --aside-color: #00bbf9;
    --footer-color: #00f5d4;
}

body {
    min-height: 100vh;
    min-width: 250px;
    text-align: center;
    color: black;
    background-color: var(--main-color);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: max(1rem, 8vh);
    gap: 0.5em;
}

body > * {
    border-radius: 0.5em;
    width: 80%;
}

div {
    border-radius: 0.5em;
    width: 100%;
}


header {
    background-color: var(--header-color);
}

main {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
}

.article-container {
    padding: 0.25em;
    background-color: var(--article-container-color);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.article-container > div {
    border-radius: 0.5em;
    width: 100%;
    font-size: 0.75em;
    background-color: var(--article-color);
}

.aside {
    background-color: var(--aside-color);
}

footer {
    background-color: var(--footer-color);
}